

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App {
  text-align: center;
}
body{
  background-color: #f5f1e9;
}
.tippy-box {
  z-index: 9999 !important;
}
.ProseMirror strong {
  font-weight: bold;
}

.editor-display {
  border: none;
  padding-left: 0;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 1rem;          /* Adjust to match your button height */
  margin: 0 0.25rem;     /* Spacing around the line */
  background-color: #ccc; /* Separator color */
  vertical-align: middle;
}

.separatorlg {
  display: inline-block;
  width: 1px;
  height: 10rem;          /* Adjust to match your button height */
  margin: 0 0.25rem;     /* Spacing around the line */
  background-color: #000000; /* Separator color */
  vertical-align: middle;
}


.ProseMirror em {
  font-style: italic;
}

.ProseMirror s {
  text-decoration: line-through;
}
.bubble-menu-custom {
  z-index: 9999;
  background: white;
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
}

.flexlimit{
  max-width: 100px;
}
.articleitem{
  padding: 1rem 0rem 1rem 0rem;
  all:initial;
}

.news{
  border: 2px solid #000000;
  border-left: none;
  border-right: none;
}

.containerr {
  max-width: 800px;     /* Limits the maximum width */
  margin: 0 auto;       /* Centers the container horizontally */
  padding: 0 1rem;      /* Adds breathing room on the sides */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.displaytitle{
  margin: 0 auto;
}
.displaycont h3 {
  font-family: 'Markazi Text', serif;
  font-size: 2rem;
}


.titlecont{
  width: 800px;    /* optional: limit width */
  margin: 0 auto;
  padding-left: 1rem;
}
.titlecont h3 {
  font-family: 'Markazi Text', serif;
  font-size: 3.5rem;
}

.tiptap {
  font-size: 1.4rem;
  max-width: 50rem;    /* optional: limit width */
  margin: 0 auto;      /* optional: center container */
  box-sizing: border-box;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  font-family: 'Charter', serif;
}

.article-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* ensures responsive images */
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.my-button:hover {
    background-color: #0d0d0c; /* Change to your desired hover color */ 
}
.ProseMirror:focus {
  outline: none;
}


.navbar{
  background-color: #f5f1e9;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem  ;
}

.articleimg{
  width: "462.67";
  height: "308.44";
}

.write{
  font-size: 3.5rem;
  font-family: 'Newsreader', serif;
  background-color: #f5f1e9;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  min-width: 50rem;    /* optional: limit width */
  margin: 0 auto;
  padding-left: 1rem;
}

.nav-item{
  margin-left: 2rem;
  margin-right:  3rem;
  border-radius: .5rem;
}
.nav-link{
  color:#000000;
}
.nav-item:hover {
    background-color: #ede6d5; /* Change to your desired hover color */ 
}
.write:focus {
  border: none;
  outline: none;
}

.thumbnail{
  background: #f5f1e9;
  color: black;
  border: 1px solid;
  border-color: #000000;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.cont{
  margin-top: 3rem;
  margin-bottom: 1rem;
  

}


.author{
  font-size: 1rem;
  font-family: 'Newsreader', serif;
  background-color: #f5f1e9;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  min-width: 50rem;    /* optional: limit width */
  margin: 0 auto;
  padding-left: 1rem;
}

.author:focus {
  border: none;
  outline: none;
}

.bottom{
  margin-bottom: 3rem;
}

.battle{
  margin: 1rem 1rem 0rem 1rem;
  padding-left: 1.5rem;
  padding-right: 1..5rem;
}

.btn{
  background-color: #a32538;
}
.btn:hover{
  background-color: #b81f36;
  color: white;
}

.clear{
  text-decoration: none;
  color: #ffffff;
}

.left{
  margin-top: 2rem;
  margin-left: 3rem;
  font-family: 'Newsreader', serif;
}

.left1{
  margin-top: 2rem;
  margin-left: 0rem;
  font-family: 'Newsreader', serif;
}

.navbar-bottom-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.margin-top{
  margin-top: 1rem;
}